
html {
    border-style: none;
    border-width: 0;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.clr {
    clear: both;
    height: 0;
    overflow: hidden;
}
* {
    border-style: none;
    border-width: 0;
    font-family: Arial,Helvetica,sans-serif;
}
.horizontal-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.horizontal-menu li {
    display: inline;
}
.horizontal-emnu-button ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.horizontal-emnu-button ul li {
    display: inline-block;
    float: left;
}
.horizontal-emnu-button ul li a {
    display: block;
}
.horizontal-socal-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.horizontal-socal-links ul li {
    display: inline-block;
    float: left;
}
.horizontal-socal-links ul li a {
    display: block;
    height: 20px;
    margin-left: 5px;
    margin-right: 2px;
    overflow: hidden;
    width: 20px;
}
.breadcrumb {
    height: 30px;
    position: relative;
    width: 100%;
}
.breadcrumb ul {
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("breadcrumbImage.png");
    background-position: 0 -30px;
    background-repeat: repeat-x;
    height: 30px;
    margin: 0 5px;
    padding: 0;
    position: relative;
}
.breadcrumb ul li {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.breadcrumb ul li a {
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("breadcrumbImage.png");
    background-position: 100% -60px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 30px;
    padding: 0 17px 0 15px;
    text-decoration: none;
}
.breadcrumb ul li a:hover {
    text-decoration: underline;
}
.breadcrumb ul li a.active {
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    color: #FFFFFF;
}
.breadcrumb ul li a.active:hover {
    text-decoration: none;
}
.breadcrumb .left {
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("breadcrumbImage.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 10px;
    z-index: 1;
}
.breadcrumb .right {
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("breadcrumbImage.png");
    background-position: 100% -90px;
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    z-index: 1;
}
.hbox {
    display: flex;
    flex-direction: row;
}
.vbox {
    display: flex;
    flex-direction: column;
}
.flex-item {
    background-attachment: scroll;
    background-color: #FF0000;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    flex: 1 0 auto;
}
body {
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    height: 2187px;
    left: 0;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    top: 0;
    width: 1440px;
}
header {
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    height: 868px;
}
header #header-part1 {
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    background-attachment: scroll;
    background-color: #000000;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    float: right;
    height: 96px;
    padding: 16px 220px 0;
    text-align: left;
    width: 100%;
}
header #header-part1 .header-part1-row1 {
    clear: both;
    float: left;
    height: 40px;
    width: 100%;
}
header #header-part1 .header-part1-row2 {
    clear: both;
    height: 40px;
    width: 100%;
	background: linear-gradient(270deg, #413e47 0%, #1a181c 100%); 
	background: -moz-linear-gradient(270deg, #413e47 0%, #1a181c 100%); 
	background: -webkit-linear-gradient(270deg, #413e47 0%, #1a181c 100%); 
	background: -o-linear-gradient(270deg, #413e47 0%, #1a181c 100%);     
}
header #header-part1 #logo-part {
    float: left;
}
header #header-part1 #header-nav {
    float: right;
}
header #header-part1 #header-nav .horizontal-menu a {
    color: #666666;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header #header-part1 #header-nav .horizontal-menu span {
    color: #666666;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
header #header-part1 #header-menu {
    height: 100%;
}
header #header-part1 #header-menu .horizontal-emnu-button-container {
    float: left;
    height: 100%;
}
header #header-part1 #header-menu nav {
    height: 100%;
}
header #header-part1 #header-menu .horizontal-emnu-button ul {
    height: 100%;
}
header #header-part1 #header-menu .horizontal-emnu-button li {
    border-left: 1px solid #666666;
    border-right: 1px solid #333333;
    height: 100%;
}
header #header-part1 #header-menu .horizontal-emnu-button li.last-li {
    border-left: 1px solid #666666;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: 0;
    height: 100%;
}
header #header-part1 #header-menu .horizontal-emnu-button a {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    text-decoration: none;
    text-transform: uppercase;
}
header #header-part1 #header-menu .search-container {
    float: left;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
background: linear-gradient(270deg, #797485 0%, #4a4654 100%); 
background: -moz-linear-gradient(270deg, #797485 0%, #4a4654 100%); 
background: -webkit-linear-gradient(270deg, #797485 0%, #4a4654 100%); 
background: -o-linear-gradient(270deg, #797485 0%, #4a4654 100%);    
}
header #header-part1 #header-menu .search-container div {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
header #header-part1 #header-menu .search-container a {
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    
}
header #header-part1 #header-menu .search-container input {
    height: 30px;
    padding: 0;
    width: 186px;
}
header #header-part2 {
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    clear: both;
    float: left;
    height: 40px;
    width: 100%;
}
header #header-part2 p {
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 14px;
    margin-top: 14px;
    text-align: center;
}
header #header-part3 {
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../image/Layer26.png");
    background-position: 0 0;
    background-repeat: repeat;
    clear: both;
    height: 732px;
    padding: 8px 220px 64px;
}
header #header-part3 #header-part3-content {
    height: 100%;
    position: relative;
}
#header-socal-links {
    float: right;
}
#header-part3-content-title {
    color: #FFFFFF;
    float: left;
    font-family: Myriad,Pro;
    font-size: 89px;
    left: -18px;
    position: relative;
    text-align: left;
}
.slide-title-container {
    bottom: 246px;
    height: 93px;
    position: absolute;
    width: 100%;
}
#left-slide-title-container {
    float: left;
    width: 792px;
}
#left-slide-title-container .slide-title1 {
    color: #FFFFFF;
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
}
#left-slide-title-container .slide-title2 {
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 15px;
    text-align: left;
    text-transform: uppercase;
}
#right-slide-title-container {
    float: right;
    height: 100%;
    width: 208px;
}
#right-slide-title-nav-button {
background: linear-gradient(270deg, #1a181e 0%, #000000 100%); 
background: -moz-linear-gradient(270deg, #1a181e 0%, #000000 100%); 
background: -webkit-linear-gradient(270deg, #1a181e 0%, #000000 100%); 
background: -o-linear-gradient(270deg, #1a181e 0%, #000000 100%);
    background-repeat: repeat;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#right-slide-title-nav-button a {
    color: #999999;
    font-size: 20px;
    text-decoration: none;
}
.grid {
    bottom: 0;
    height: 226px;
    position: absolute;
}
.grid .cell {
    background-attachment: scroll;
    background-color: #CCCCCC;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    float: left;
    height: 226px;
    margin-left: 0;
    margin-right: 20px;
    padding: 10px;
    width: 300px;
}
.grid .cell-last {
    margin-right: 0;
}
.cell-pic {
    height: 193px;
    width: 299px;
}
.cell-tilte-container {
    height: 30px;
    text-align: left;
}
.cell-tilte {
    color: #000000;
    float: left;
    font-size: 26px;
    margin-top: 5px;
}
.cell-nav {
    float: right;
    margin-top: 10px;
}
.cell-nav a {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
}
#content {
    background-attachment: scroll;
    background-color: #F0F0F0;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    padding: 20px 220px;
    flex:1 1 0;
}
#content-part {
    align-items: stretch;
    align-self: stretch;
    background-color: #FFFFFF;
    display: flex;
    height: 100%;
    width: 100%;
}
footer {
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    height: 316px;
    overflow: hidden;
}
footer #footer-part1 {
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    background-attachment: scroll;
    background-color: #333333;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    height: 212px;
}
footer #footer-part2 {
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    background-attachment: scroll;
    background-color: #000000;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    height: 114px;
}
#footer-part2 {
    color: #FFFFFF;
    padding-top: 20px;
    text-align: center;
}
#footer-part2-copyright {
    font-size: 14px;
    margin-bottom: 24px;
}
#footer-part2-social-links {
    float: none;
    height: 24px;
    margin: auto;
    text-align: center;
    width: 280px;
}
#footer-part1 {
    border-color: #666666;
    border-radius: 3px 0;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    padding: 20px 220px;
}
#footer-part1-containt {
    display: flex;
    flex-direction: row;
    height: 100%;
}
#footer-part1-2 {
    align-items: stretch;
    color: #FFFFFF;
    display: flex;
    flex-grow: 1;
    margin-left: 40px;
    text-align: left;
}
#footer-part1-1 {
    display: flex;
    text-align: left;
    width: 200px;
}
#footer-part1-3 {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
    width: 200px;
}
#footer-part1-3-map {
    background-image: url("../image/Layer73.png");
    background-repeat: no-repeat;
    height: 93px;
}
#footer-part1-3-tel {
    height: 20px;
}
#footer-part1-3-addr {
    flex-grow: 1;
    font-size: 13px;
    text-align: left;
}
#footer-part1-1-form-label2 {
    font-size: 11px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#footer-part1-1-form-label1 {
    font-size: 14px;
}
#footer-part1-1-form-input {
    height: 27px;
    margin-top: 5px;
    width: 100%;
}
#footer-part1-1-form-submit {
    background-color: #000000;
    border-color: #666666;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    height: 27px;
    margin-left: 40px;
    margin-top: 10px;
    text-align: center;
    width: 66px;
}
#footer-part1-1-form {
    border-style: none;
    color: #FFFFFF;
}
#footer-part1-2-1 {
    flex-grow: 1;
}
#footer-part1-2-2 {
    flex-grow: 1;
}
#footer-part1-2-3 {
    flex-grow: 1;
}
#footer-part1-2-4 {
    flex-grow: 1;
}
.site-link {
    color: #FFFFFF;
    font-size: 13px;
    vertical-align: 10px;
}
.site-link:hover {
    text-decoration: none;
}
.site-link:hover {
    margin-top: 5px;
}
.site-link-group {
    font-weight: bold;
    vertical-align: 10px;
}
#content-part-col-2 {
    background: none repeat scroll 0 0 #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    margin-left: 7px;
    margin-right: 10px;
    width: 500px;
}
#content-part-col-1 {
    background: none repeat scroll 0 0 #FFFFFF;
    width: 242px;
}
#content-part-col-3 {
    background: none repeat scroll 0 0 #FFFFFF;
    width: 242px;
}
.content-col-title {
    -moz-box-sizing: border-box;
    box-sizing:border-box;
background: linear-gradient(270deg, #2f2d33 0%, #1a181e 100%); 
background: -moz-linear-gradient(270deg, #2f2d33 0%, #1a181e 100%); 
background: -webkit-linear-gradient(270deg, #2f2d33 0%, #1a181e 100%); 
background: -o-linear-gradient(270deg, #2f2d33 0%, #1a181e 100%);
    color: #FFFFFF;
    direction: ltr;
    font-size: 16px;
    height: 43px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 16px;
    text-align: left;
    text-transform: uppercase;
}
.view-all-link {
    color: #FFFFFF;
    float: right;
    text-align: right;
    text-decoration: none;
    text-transform: capitalize;
}
.view-all-link:hover {
}
.view-all-link:hover {
    text-decoration: none;
}
.view-all-link:hover {
    float: right;
}
.view-all-link:hover {
    float: right;
}
#content-col1-thumb {
    display: flex;
    flex-direction: column;
    height: 305px;
    margin: 10px;
}
.content-col1-thumb-pic {
    -moz-column-gap: 10px;
    background-color: #33CC00;
    flex-grow: 1;
}
.content-col1-thumb-pic-link {
    background-color: #FF9900;
    height: 140px;
    width: 225px;
}
#content-col1-thumb-pic-link-2 {
    background-color: #6633FF;
    background-image: url("../image/Layer84.png");
    background-repeat: no-repeat;
    display: block;
    height: 100%;
}
#content-col1-thumb-pic-link-1 {
    background-color: #FF9900;
    background-image: url("../image/Layer83.png");
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
}
#welcomes {
    height: 149px;
    text-align: left;
}
.products-thumb {
    flex-grow: 0;
}
#products-feature {
    flex-grow: 1;
}
.product-achor {
    border-color: #999999;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 174px;
    margin: 5px 3px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    width: 156px;
}
.product-achor a {
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("");
    background-position: 50% 0;
    background-repeat: no-repeat;
    display: block;
    height: 96px;
}
.product-achor .product-name {
    color: #000000;
    font-size: 14px;
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
    text-transform: capitalize;
}
.product-achor .price-lable {
    color: #000000;
    font-size: 14px;
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
    text-transform: capitalize;
}
.product-achor .price-lable-number {
    color: #FF0000;
    overflow: hidden;
}
.add-cart-button {
background: linear-gradient(270deg, #2f2d33 0%, #1a181e 100%); 
background: -moz-linear-gradient(270deg, #2f2d33 0%, #1a181e 100%); 
background: -webkit-linear-gradient(270deg, #2f2d33 0%, #1a181e 100%); 
background: -o-linear-gradient(270deg, #2f2d33 0%, #1a181e 100%);
    color: #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
    width: 80%;
    height: 33px;
    line-height: 33px;
    display: inline-block;
}
.button[id^="add_to_cart"] {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    display: inline-block;
    height: 28px;
    text-decoration: none;
    width: 124px;
}
.button[id^="add_to_cart"] span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: inline-block;
    margin-top: 4px;
    text-transform: uppercase;
}
.button[id^="add_to_cart"] span:after {
    content: " to cart";
}
.list, .list th, .list tr, .list td, .list tbody, .list thead, .list tfoot {
    display: block;
}
.list tbody tr td:nth-child(2) {
    display: none;
}
.list tbody tr {
    float: left;
}
